examples/basic-flow.json
[
    {
        "id": "flow-compulab-demo",
        "type": "tab",
        "label": "CompuLab Demo",
        "disabled": false,
        "info": "Beispiel-Flow für CompuLab IoT Gateway Nodes"
    },
    {
        "id": "comment-gpio",
        "type": "comment",
        "z": "flow-compulab-demo",
        "name": "=== GPIO Beispiele ===",
        "info": "",
        "x": 140,
        "y": 40
    },
    {
        "id": "gpio-in0",
        "type": "clab-gpio-in",
        "z": "flow-compulab-demo",
        "name": "Eingang IN0",
        "pin": "IN0",
        "deviceType": "auto",
        "interval": "1000",
        "outputOnChange": true,
        "x": 130,
        "y": 100,
        "wires": [["debug-gpio"]]
    },
    {
        "id": "gpio-out0",
        "type": "clab-gpio-out",
        "z": "flow-compulab-demo",
        "name": "Ausgang OUT0",
        "pin": "OUT0",
        "deviceType": "auto",
        "setInitial": false,
        "initialValue": "low",
        "x": 340,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "inject-high",
        "type": "inject",
        "z": "flow-compulab-demo",
        "name": "HIGH",
        "props": [{"p": "payload"}],
        "repeat": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 160,
        "wires": [["gpio-out0"]]
    },
    {
        "id": "inject-low",
        "type": "inject",
        "z": "flow-compulab-demo",
        "name": "LOW",
        "props": [{"p": "payload"}],
        "repeat": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 200,
        "wires": [["gpio-out0"]]
    },
    {
        "id": "debug-gpio",
        "type": "debug",
        "z": "flow-compulab-demo",
        "name": "GPIO Debug",
        "active": true,
        "tosidebar": true,
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "comment-led",
        "type": "comment",
        "z": "flow-compulab-demo",
        "name": "=== LED Beispiele ===",
        "info": "",
        "x": 140,
        "y": 280
    },
    {
        "id": "led-green",
        "type": "clab-led",
        "z": "flow-compulab-demo",
        "name": "LED Grün",
        "color": "green",
        "deviceType": "auto",
        "x": 340,
        "y": 340,
        "wires": [[]]
    },
    {
        "id": "inject-led-green",
        "type": "inject",
        "z": "flow-compulab-demo",
        "name": "Grün",
        "props": [{"p": "payload"}],
        "repeat": "",
        "payload": "green",
        "payloadType": "str",
        "x": 130,
        "y": 340,
        "wires": [["led-green"]]
    },
    {
        "id": "inject-led-off",
        "type": "inject",
        "z": "flow-compulab-demo",
        "name": "Aus",
        "props": [{"p": "payload"}],
        "repeat": "",
        "payload": "off",
        "payloadType": "str",
        "x": 130,
        "y": 380,
        "wires": [["led-green"]]
    },
    {
        "id": "led-blink",
        "type": "clab-led-blink",
        "z": "flow-compulab-demo",
        "name": "LED Blinken",
        "color": "orange",
        "onTime": "200",
        "offTime": "200",
        "count": "5",
        "deviceType": "auto",
        "x": 350,
        "y": 440,
        "wires": [[]]
    },
    {
        "id": "inject-blink",
        "type": "inject",
        "z": "flow-compulab-demo",
        "name": "Blinken starten",
        "props": [{"p": "payload"}],
        "repeat": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 440,
        "wires": [["led-blink"]]
    },
    {
        "id": "comment-system",
        "type": "comment",
        "z": "flow-compulab-demo",
        "name": "=== System Info ===",
        "info": "",
        "x": 140,
        "y": 520
    },
    {
        "id": "system-info",
        "type": "clab-system-info",
        "z": "flow-compulab-demo",
        "name": "System Info",
        "interval": "0",
        "includeDevice": true,
        "includeUptime": true,
        "includeLoad": true,
        "includeMemory": true,
        "includeTemperature": true,
        "x": 350,
        "y": 580,
        "wires": [["debug-system"]]
    },
    {
        "id": "inject-sysinfo",
        "type": "inject",
        "z": "flow-compulab-demo",
        "name": "Info abrufen",
        "props": [{"p": "payload"}],
        "repeat": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 580,
        "wires": [["system-info"]]
    },
    {
        "id": "debug-system",
        "type": "debug",
        "z": "flow-compulab-demo",
        "name": "System Debug",
        "active": true,
        "tosidebar": true,
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "rtc-read",
        "type": "clab-rtc",
        "z": "flow-compulab-demo",
        "name": "RTC lesen",
        "action": "read",
        "x": 350,
        "y": 640,
        "wires": [["debug-system"]]
    },
    {
        "id": "inject-rtc",
        "type": "inject",
        "z": "flow-compulab-demo",
        "name": "RTC abrufen",
        "props": [{"p": "payload"}],
        "repeat": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 640,
        "wires": [["rtc-read"]]
    },
    {
        "id": "comment-analog",
        "type": "comment",
        "z": "flow-compulab-demo",
        "name": "=== Analog Input ===",
        "info": "",
        "x": 140,
        "y": 720
    },
    {
        "id": "analog-in",
        "type": "clab-analog-in",
        "z": "flow-compulab-demo",
        "name": "4-20mA Eingang",
        "deviceIndex": "0",
        "interval": "2000",
        "outputOnChange": true,
        "threshold": "0.1",
        "useScaling": true,
        "scaleMin": "0",
        "scaleMax": "100",
        "x": 360,
        "y": 780,
        "wires": [["debug-analog"]]
    },
    {
        "id": "debug-analog",
        "type": "debug",
        "z": "flow-compulab-demo",
        "name": "Analog Debug",
        "active": true,
        "tosidebar": true,
        "x": 570,
        "y": 780,
        "wires": []
    }
]
