examples/compulab-demo-flow.json
[
    {
        "id": "demo-tab",
        "type": "tab",
        "label": "CompuLab Demo Flow",
        "disabled": false,
        "info": "Demonstration of all CompuLab IoT Gateway nodes"
    },
    {
        "id": "comment-gpio",
        "type": "comment",
        "z": "demo-tab",
        "name": "GPIO Examples",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject-gpio-read",
        "type": "inject",
        "z": "demo-tab",
        "name": "Read GPIO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 80,
        "wires": [["gpio-in-1"]]
    },
    {
        "id": "gpio-in-1",
        "type": "clab-gpio-in",
        "z": "demo-tab",
        "name": "GPIO Input",
        "deviceType": "IOT-GATE-IMX8PLUS",
        "pin": "0",
        "outputOnChange": false,
        "x": 290,
        "y": 80,
        "wires": [["debug-gpio"]]
    },
    {
        "id": "inject-gpio-on",
        "type": "inject",
        "z": "demo-tab",
        "name": "GPIO ON",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 120,
        "y": 140,
        "wires": [["gpio-out-1"]]
    },
    {
        "id": "inject-gpio-off",
        "type": "inject",
        "z": "demo-tab",
        "name": "GPIO OFF",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 120,
        "y": 180,
        "wires": [["gpio-out-1"]]
    },
    {
        "id": "gpio-out-1",
        "type": "clab-gpio-out",
        "z": "demo-tab",
        "name": "GPIO Output",
        "deviceType": "IOT-GATE-IMX8PLUS",
        "pin": "0",
        "x": 300,
        "y": 160,
        "wires": [["debug-gpio"]]
    },
    {
        "id": "debug-gpio",
        "type": "debug",
        "z": "demo-tab",
        "name": "GPIO Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "comment-led",
        "type": "comment",
        "z": "demo-tab",
        "name": "LED Examples",
        "info": "",
        "x": 100,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-led-on",
        "type": "inject",
        "z": "demo-tab",
        "name": "LED ON",
        "props": [{"p": "action", "v": "on", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 280,
        "wires": [["led-1"]]
    },
    {
        "id": "inject-led-off",
        "type": "inject",
        "z": "demo-tab",
        "name": "LED OFF",
        "props": [{"p": "action", "v": "off", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 320,
        "wires": [["led-1"]]
    },
    {
        "id": "inject-led-blink",
        "type": "inject",
        "z": "demo-tab",
        "name": "LED Blink",
        "props": [{"p": "action", "v": "blink", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 360,
        "wires": [["led-1"]]
    },
    {
        "id": "led-1",
        "type": "clab-led",
        "z": "demo-tab",
        "name": "Green LED",
        "deviceType": "IOT-GATE-IMX8PLUS",
        "color": "green",
        "action": "on",
        "interval": 500,
        "x": 290,
        "y": 320,
        "wires": [["debug-led"]]
    },
    {
        "id": "debug-led",
        "type": "debug",
        "z": "demo-tab",
        "name": "LED Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "comment-network",
        "type": "comment",
        "z": "demo-tab",
        "name": "Network Examples",
        "info": "",
        "x": 120,
        "y": 420,
        "wires": []
    },
    {
        "id": "inject-ping",
        "type": "inject",
        "z": "demo-tab",
        "name": "Ping Google",
        "props": [{"p": "host", "v": "8.8.8.8", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 460,
        "wires": [["network-ping"]]
    },
    {
        "id": "network-ping",
        "type": "clab-network",
        "z": "demo-tab",
        "name": "Ping",
        "action": "ping",
        "host": "8.8.8.8",
        "count": 4,
        "x": 290,
        "y": 460,
        "wires": [["debug-network"]]
    },
    {
        "id": "inject-dns",
        "type": "inject",
        "z": "demo-tab",
        "name": "DNS Lookup",
        "props": [{"p": "hostname", "v": "google.com", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 500,
        "wires": [["network-dns"]]
    },
    {
        "id": "network-dns",
        "type": "clab-network",
        "z": "demo-tab",
        "name": "DNS",
        "action": "dns",
        "hostname": "google.com",
        "dnsType": "A",
        "x": 290,
        "y": 500,
        "wires": [["debug-network"]]
    },
    {
        "id": "debug-network",
        "type": "debug",
        "z": "demo-tab",
        "name": "Network Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "comment-system",
        "type": "comment",
        "z": "demo-tab",
        "name": "System Examples",
        "info": "",
        "x": 120,
        "y": 560,
        "wires": []
    },
    {
        "id": "inject-system-info",
        "type": "inject",
        "z": "demo-tab",
        "name": "System Info",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 600,
        "wires": [["system-info"]]
    },
    {
        "id": "system-info",
        "type": "clab-system",
        "z": "demo-tab",
        "name": "System Info",
        "action": "info",
        "x": 300,
        "y": 600,
        "wires": [["debug-system"]]
    },
    {
        "id": "inject-rtc",
        "type": "inject",
        "z": "demo-tab",
        "name": "Read RTC",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 640,
        "wires": [["system-rtc"]]
    },
    {
        "id": "system-rtc",
        "type": "clab-system",
        "z": "demo-tab",
        "name": "RTC",
        "action": "rtc-read",
        "x": 290,
        "y": 640,
        "wires": [["debug-system"]]
    },
    {
        "id": "debug-system",
        "type": "debug",
        "z": "demo-tab",
        "name": "System Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 620,
        "wires": []
    },
    {
        "id": "comment-wifi",
        "type": "comment",
        "z": "demo-tab",
        "name": "WiFi Examples",
        "info": "",
        "x": 110,
        "y": 700,
        "wires": []
    },
    {
        "id": "inject-wifi-status",
        "type": "inject",
        "z": "demo-tab",
        "name": "WiFi Status",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 740,
        "wires": [["wifi-status"]]
    },
    {
        "id": "wifi-status",
        "type": "clab-wifi",
        "z": "demo-tab",
        "name": "WiFi Status",
        "action": "status",
        "interface": "wlan0",
        "x": 300,
        "y": 740,
        "wires": [["debug-wifi"]]
    },
    {
        "id": "inject-wifi-scan",
        "type": "inject",
        "z": "demo-tab",
        "name": "WiFi Scan",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 780,
        "wires": [["wifi-scan"]]
    },
    {
        "id": "wifi-scan",
        "type": "clab-wifi",
        "z": "demo-tab",
        "name": "WiFi Scan",
        "action": "scan",
        "interface": "wlan0",
        "x": 290,
        "y": 780,
        "wires": [["debug-wifi"]]
    },
    {
        "id": "debug-wifi",
        "type": "debug",
        "z": "demo-tab",
        "name": "WiFi Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 760,
        "wires": []
    },
    {
        "id": "comment-ethernet",
        "type": "comment",
        "z": "demo-tab",
        "name": "Ethernet Examples",
        "info": "",
        "x": 130,
        "y": 840,
        "wires": []
    },
    {
        "id": "inject-eth-status",
        "type": "inject",
        "z": "demo-tab",
        "name": "Eth Status",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 880,
        "wires": [["eth-status"]]
    },
    {
        "id": "eth-status",
        "type": "clab-ethernet",
        "z": "demo-tab",
        "name": "Ethernet Status",
        "action": "status",
        "interface": "eth0",
        "x": 310,
        "y": 880,
        "wires": [["debug-ethernet"]]
    },
    {
        "id": "debug-ethernet",
        "type": "debug",
        "z": "demo-tab",
        "name": "Ethernet Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 880,
        "wires": []
    },
    {
        "id": "comment-analog",
        "type": "comment",
        "z": "demo-tab",
        "name": "Analog Input Example",
        "info": "",
        "x": 140,
        "y": 940,
        "wires": []
    },
    {
        "id": "inject-analog",
        "type": "inject",
        "z": "demo-tab",
        "name": "Read Analog",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 980,
        "wires": [["analog-in-1"]]
    },
    {
        "id": "analog-in-1",
        "type": "clab-analog-in",
        "z": "demo-tab",
        "name": "Analog Input",
        "deviceType": "IOT-DIN-IMX8PLUS",
        "deviceIndex": 0,
        "channelIndex": 0,
        "inputType": "4-20mA",
        "x": 310,
        "y": 980,
        "wires": [["debug-analog"]]
    },
    {
        "id": "debug-analog",
        "type": "debug",
        "z": "demo-tab",
        "name": "Analog Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 980,
        "wires": []
    },
    {
        "id": "comment-serial",
        "type": "comment",
        "z": "demo-tab",
        "name": "Serial Communication Example",
        "info": "",
        "x": 170,
        "y": 1040,
        "wires": []
    },
    {
        "id": "inject-serial",
        "type": "inject",
        "z": "demo-tab",
        "name": "Send Data",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello RS485",
        "payloadType": "str",
        "x": 120,
        "y": 1080,
        "wires": [["serial-out-1"]]
    },
    {
        "id": "serial-out-1",
        "type": "clab-serial-out",
        "z": "demo-tab",
        "name": "Serial Out",
        "serialConfig": "serial-config-1",
        "x": 290,
        "y": 1080,
        "wires": [["debug-serial"]]
    },
    {
        "id": "serial-in-1",
        "type": "clab-serial-in",
        "z": "demo-tab",
        "name": "Serial In",
        "serialConfig": "serial-config-1",
        "x": 120,
        "y": 1120,
        "wires": [["debug-serial"]]
    },
    {
        "id": "debug-serial",
        "type": "debug",
        "z": "demo-tab",
        "name": "Serial Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1100,
        "wires": []
    },
    {
        "id": "serial-config-1",
        "type": "clab-serial-config",
        "name": "RS485 Port",
        "device": "/dev/ttyLP1",
        "baudrate": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "mode": "rs485"
    }
]
